.menu-panel,
.menu-panel #nav-menu .sub-menu-wrap,
.menu-panel #header-menu .sub-menu-wrap,
.bp_components ul li ul li.menupop .ab-sub-wrapper {
  background-color: unset; // inherit body bg color instead
}

#scroll-area {
  background-color: $menu-panel-background-color;
}

.menu-panel #nav-menu .sub-menu-wrap > a,
.menu-panel #header-menu > ul li a,
#nav-menu > ul > li > a,
.menu-panel .sub-menu-wrap > a,
.menu-panel .ab-sub-wrapper > .ab-item,
.menu-panel #nav-menu > a,
.menu-panel .menupop > a,
.menu-panel ul li a,
.menu-panel ul li div.ab-item,
.menu-panel #header-menu ul .sub-menu-wrap a,
.menu-panel .screen-reader-shortcut {
  background-color: $menu-panel-background-color;
  color: $menu-panel-color;
  padding: 5px 10px !important; // override responsive styles
  z-index: 1; // ensure css arrow/pointer :before is underneath menu

  &:hover {
    background-color: $menu-panel-background-color-hover;
    color: $menu-panel-color-hover;
    text-decoration: none;
  }
}

.menu-panel .menu-item {
  padding: unset;
}

.menu-panel #header-menu > ul li a,
#nav-menu > ul > li > a,
body:not(.left-menu-open) .menu-panel .sub-menu-wrap > a,
body:not(.left-menu-open) .menu-panel .ab-sub-wrapper > .ab-item,
.menu-panel #nav-menu > a,
.menu-panel .menupop > a {
  padding: 5px 1.5em !important; // override left-menu-open & responsive styles
}

.left-menu-open .menu-panel #nav-menu .current-menu-item > a,
.left-menu-open .menu-panel #header-menu .current-menu-item > a,
.left-menu-open .menu-panel #nav-menu .current-menu-parent > a,
.left-menu-open .menu-panel #header-menu .current-menu-parent > a,
.left-menu-open .bp_components ul li ul li.menupop.active > a,
.menu-panel #nav-menu .current-menu-item > a,
.menu-panel #header-menu .current-menu-item > a,
.menu-panel #nav-menu .current-menu-parent > a,
.menu-panel #header-menu .current-menu-parent > a,
.bp_components ul li ul li.menupop.active > a
.menu-panel .screen-reader-shortcut:hover,
.menu-panel ul li ul li:not(.menupop) a:hover,
.menu-panel ul li ul li.active:not(.menupop) a,
.menu-panel #nav-menu ul li ul li.current_page_item a,
.menu-panel #header-menu ul li ul li.current_page_item a,
.menu-panel #nav-menu ul li ul li.current-menu-item a,
.menu-panel #header-menu ul li ul li.current-menu-item a,
.menu-panel #nav-menu > ul > li:hover,
.menu-panel #header-menu > ul > li:hover,
.menu-panel ul li .menupop:hover {
    background-color: $menu-panel-background-color-hover;
    color: $menu-panel-color-hover;
}

body.left-menu-open .menu-panel #nav-menu > ul > li > a:not(.open-submenu):before,
body.left-menu-open .menu-panel #header-menu > ul > li > a:not(.open-submenu):before,
body.left-menu-open .menu-panel .bp_components ul li ul li > .ab-item:before,
body.left-menu-open .menu-panel .screen-reader-shortcut:before,
.menu-panel #nav-menu > ul > li > a:not(.open-submenu):before,
.menu-panel #header-menu > ul > li > a:not(.open-submenu):before,
.menu-panel .bp_components ul li ul li > .ab-item:before {
  color: $menu-panel-icon-color;
}

.menu-panel #nav-menu .current-menu-item > a:before,
.menu-panel #header-menu .current-menu-item > a:before,
.menu-panel #nav-menu .current-menu-parent > a:before,
.menu-panel #header-menu .current-menu-parent > a:before,
.bp_components ul li ul li.menupop.active > a:before,
.menu-panel #nav-menu > ul > li:hover > a:before,
.menu-panel #header-menu > ul > li:hover > a:before,
.menu-panel .bp_components ul li ul li.menupop:hover > a:before {
  background-color: unset; // inherit #scroll-area bg color instead
  color: $menu-panel-icon-color-hover !important; // TODO can we avoid !important? without it, previous block overrides this
}

.menu-panel #nav-menu .sub-menu-wrap,
.menu-panel #header-menu .sub-menu-wrap,
.bp_components ul li ul li.menupop .ab-sub-wrapper,
body:not(.left-menu-open) .menu-panel #nav-menu .current-menu-item:hover > .sub-menu-wrap {
  //box-shadow: none;
  width: auto;
}

.menu-panel .sub-menu-wrap:before,
.menu-panel .ab-sub-wrapper:before {
  border-color: $menu-panel-background-color;
  border-width: 6px;
  //box-shadow: 2px 2px 11px 0px rgba(0, 0, 0, 0.4);
  box-shadow: $box-shadow-material;
  transform: rotate(45deg);
  position: absolute;
  left: -6px;
  top: 12px !important; // override responsive styles
}

.menu-panel #nav-menu .sub-menu-wrap,
.menu-panel #header-menu .sub-menu-wrap,
.bp_components ul li ul li.menupop .ab-sub-wrapper {
  box-shadow: $box-shadow-material;
}

body.left-menu-open #left-panel #scroll-area,
body:not(.left-menu-open) #left-panel {
  box-shadow: unset;
}

.menu-panel .sub-menu-wrap:after,
.menu-panel .ab-sub-wrapper:after {
  display: none;
}

.menu-panel #nav-menu .sub-menu-wrap .sub-menu {
  margin: 0;
  padding: 0;
}

// this makes some room for the box-shadow on the header bar. if that's not there anymore, this may not need to be either
#nav-menu > ul {
  margin-top: 6px;
}

body:not(.left-menu-open) .menu-panel #nav-menu > ul > li > a:after,
body:not(.left-menu-open) .menu-panel #header-menu > ul > li > a:after,
body:not(.left-menu-open) .menu-panel ul li .menupop > a:after {
  left: 27px;
}
body:not(.is-mobile) .menu-panel {
  width: 55px;
}
body:not(.left-menu-open) .menu-panel #nav-menu .sub-menu-wrap,
body:not(.left-menu-open) .menu-panel #header-menu .sub-menu-wrap,
body:not(.left-menu-open) .bp_components ul li ul li.menupop .ab-sub-wrapper {
  left: 65px;
}
body.is-desktop:not(.left-menu-open)[data-logo="1"] #left-panel-inner {
  padding-top: 65px;
}
body:not(.left-menu-open).is-desktop #right-panel-inner {
  margin-left: 65px;
}
.is-desktop #left-panel-inner #scroll-area {
  width: 65px;
}

/* remove top margin on right panel menu to match left panel. mobile only */
.menu-panel .bp_components a:not(:last-child) {
  margin-top: 0;
}

/* these <li>s are outside the container with the rest of the links, so need special attention */
.menu-panel .screen-reader-shortcut.register-link,
.menu-panel .screen-reader-shortcut.login-link,
.menu-panel .screen-reader-shortcut.logout-link {
  padding: 5px 25px !important;
}

/* for unknown reasons this element has an inline 'top' rule pushing it down the page. put it back at the top */
body:not(.logged-in) #mobile-header {
  top: 0 !important;
}

/* hide CORE font icons in menu items */
li#deposits-groups-li a:before,
li#deposits-personal-li a:before,
#user-deposits:before {
content: '';
}

#buddypress #mobile-item-nav-wrap {
  height: 108px; /* accommodate items with titles that wrap to two lines */
}
