$font-family-body: proxima-nova, Verdana, sans-serif;
$font-family-header: lexia, serif;

$button-background-color: #006650;
$button-color: white;

$menu-panel-color: #5d5d5d;
$menu-panel-color-hover: #031634;
$menu-panel-background-color: #ececec;
$menu-panel-background-color-hover: lighten($menu-panel-background-color, 5);
$menu-panel-icon-color: $menu-panel-color;
$menu-panel-icon-color-hover: $menu-panel-color-hover;

$link-color: #006ccc;
$link-color-hover: #006ccc;

$groups-manage-members-anchor-color: #4dcadd;

// a box-shadow that mimics material raised buttons
$box-shadow-material: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px;

@mixin button-material-hover() {
  background-color: lighten($button-background-color, 10);
  box-shadow: $box-shadow-material;
  color: $button-color;
  text-decoration: none;

  &:before {
    content: none;
  }
}

@mixin button-material() {
  background-color: $button-background-color;
  border-radius: 4px;
  border-width: 0;
  box-shadow: $box-shadow-material;
  color: $button-color;
  font-weight: normal;
  letter-spacing: unset;
  padding: 10px;
  text-align: center;
  text-transform: none;
  width: unset; // let button content decide the width. parent forces a width which breaks a few things

  &:hover {
    @include button-material-hover();
  }
}
