@import 'variables';

//$commons-red: #b0061f;
//$commons-orange: #f47f00;
//$mla-badge-red: #4f0617;

$button-background-color: #006ccc;

$menu-panel-color-hover: #b0061f;
$menu-panel-icon-color-hover: $menu-panel-color-hover;

@import 'global';
